body {
  background-color: #00995c;
}
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 80px;
  margin-bottom: 12px;
  border-bottom: 2px dotted wheat;
}
.title {
  font-size: 48px;
  color: wheat;
}

.scoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  height: 60px;
}

.score {
  font-size: 40px;
  color: white;
}
.gameBoardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
}
.gameBoard {
  border-collapse: collapse;
  padding: 36px;
  width: 540px;
  height: 540px;
}

.gameBoard__tr:not(:last-child) {
  border-bottom: 3px solid wheat;
}

.gameBoard__td {
  width: 33.33%;
  position: relative;
  text-align: center;
}
.gameBoard__td:not(:last-child) {
  border-right: 3px solid wheat;
}

.footerButtons {
  display: flex;
}

.footerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  width: 50%;
  margin: auto;
}

.button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 26px;
}
.button:hover {
  color: antiquewhite;
}
